




body {
    background: grey;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 70px;
    font-family: Orbitron;
    letter-spacing: 7px;
    
}
.myLabel{
    position: relative;
    height: 101px;
    width: 433px;
    padding:23px;
    border-radius:50px ;
    box-shadow: rgba(200, 200, 200, .5);
    background-color: black;
    
}
.name{
    font-size: 15px;
    color: grey;
    position: relative;
    top: -21px;
    left: 130px;
}